<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose City</title>
  </head>
  <body>
    <h1>Choose city and year</h1>
    <form action="/cityname" method="POST">
      <div>
        <label for="city">City Name:</label>
        <input type="text" id="city" name="city" />
      </div>
      <div>
        <label for="year">Year:</label>
        <input type="text" id="year" name="year" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
