<%- include('header.ejs') %>

<div class="container mt-5">
  

  <div class="card">
    <div class="card-body">
      <form action="/admin/create" method="POST">
        <table class="table">
            <h1 class="display-4">Create User</h1>
          <tr>
            
            <td><label for="username">Username:</label></td>
            <td><input type="text" id="username" name="username" required></td>
          </tr>
          <tr>
            <td><label for="email">Email:</label></td>
            <td><input type="email" id="email" name="email" required></td>
          </tr>
          <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" id="password" name="password" required></td>
          </tr>
          <tr>
            <td><label for="role">Role:</label></td>
            <td>
              <select id="role" name="role" class="form-control">
                <option value="admin">Admin</option>
                <option value="user" selected>User</option>
              </select>
            </td>
          </tr>
        </table>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>

</div>
</body>
</html>
