body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 20px;
    max-width: 1500px;
    margin: auto;
    backdrop-filter: blur(10px);
  }
  
  .card-body {
    padding: 30px;
    font-weight: 400;
  }
  
  .card-title {
    font-weight: bolder;
    font-size: 28px;
    color: #0d0a0a;
  }
  
  .table th,
  .table td {
    font-size: 22px; 
    
  }
  
  .btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn {
    font-weight: bold;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    font-size: 18px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  /* body {
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    } */

    .navbar {
        background-color: #333 transparent;
        color: white;
        padding: 15px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        text-align: center;
        transition: background-color 0.3s ease-in-out;
      }
  
      .navbar ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
      }
  
      .navbar li {
        margin: 0 20px;
      }
  
      .navbar a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
  
      .navbar a:hover {
        background-color: #f03e0d;
      }
  
      /* .container {
        margin-top: 70px;
      } */
  
      /* .card {
        margin-top: 20px;
      } */
  
      /* .btn-success {
        margin-top: 20px;
      } */